/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Orbitron&family=Henny+Penny&display=swap');

/* BODY */
body{
    margin:0;
    background-color:#0B0B0B;
    color:#F1F5F9;
    font-family: 'Baskervville', serif;
}

/* NAVBAR */
.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:#0B0B0B;
    padding: 10px 20px;
}

.navbar-left {
    padding-left:30px;
}

.logo-image {
    height:60px;
    border-radius:50%;
}

.navbar-right {
    display:flex;
    align-items:center;
}

.a-element {
    padding:10px;
    margin:10px;
    font-size:18px;
    font-weight:bold;
    color:#A78BFA;
    text-decoration:none;
}

.a-element:hover{
    color:#6D28D9;
}

/* SECTION BOXES (OUTER) */
.home, .about, .Skills, .projects, .contact {
    margin: 40px;
    padding: 20px;
    border: 2px solid #6D28D9;
    border-radius: 12px;
    background-color: #120826;
}

/* HOME SECTION */
.home{
    display:flex;
    align-items:center;
    justify-content: space-between;
    height:70vh;
}

.home-left{
    width:50%;
    text-align:right;
    padding-left:100px;
}

.home-right{
    width:50%;
    display:flex;
    justify-content:center;
}

.home-right img{
    width:200px;
    height:200px;
    border-radius:50%;
}

.home-h1{
    font-family: "Henny Penny", system-ui;
    font-size:35px;
    color:#A78BFA;
}

.home-p{
    font-size:16px;
    color:#9CA3AF;
}

/* HEADINGS */
.skl-h1{
    font-family: "Orbitron", sans-serif;
    color:#6D28D9;
    font-size:40px;
}

/* FLEX BOX FOR CARDS */
.skills-sub{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}

/* INNER BOXES (CARDS) */
.skills-sub-content{
    margin:20px;
    border: 2px solid #A78BFA;
    padding:20px;
    width:250px;
    border-radius:10px;
    background-color:#1e1235;
}

/* HOVER EFFECT */
.skills-sub-content:hover{
    transform: translateY(-5px);
    transition: 0.3s;
}

/* CONTACT */
.contact{
    text-align:center;
}

.contact-info{
    font-size:18px;
}

/* SOCIAL ICONS */
.social-icon-image{
    height:50px;
    padding:10px;
}
