@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Orbitron&family=Henny+Penny&display=swap');

body{
    margin:0;
    background-color:#0B0B0B;
    color:#F1F5F9;
    font-family: 'Baskervville', serif;
}

/* NAVBAR */
.navbar {
    display:flex;
    justify-content: space-between;
    padding: 15px;
}

.logo-image {
    height:60px;
    border-radius:50%;
}

.a-element {
    margin:10px;
    color:#A78BFA;
    text-decoration:none;
}

/* SECTION BOX */
.home, .projects, .contact {
    margin:40px;
    padding:20px;
    border:2px solid #6D28D9;
    border-radius:12px;
    background:#120826;
}

/* HOME */
.home{
    display:flex;
    justify-content: space-between;
}

.home-right img{
    width:200px;
    height:200px;
    border-radius:50%;
}

/* BUTTONS */
.btn-container{
    margin-top:10px;
}

.btn{
    padding:8px 12px;
    margin:5px;
    border:1px solid #A78BFA;
    color:#A78BFA;
    text-decoration:none;
    border-radius:6px;
}

.btn:hover{
    background:#A78BFA;
    color:black;
}

/* ICONS */
.social-icons{
    display:flex;
    justify-content:center;
}

.social-icon-image{
    width:40px;
    margin:10px;
}
